/*
Color Theme:

f4f4f4 body

f0a500 footer & header

cf7500 buttons

000000 p & headers
*/




/*################################
General Stylings
##################################*/

body {
    background: #f4f4f4;
}

header, footer {
    background: #f0a500;
}

button {
    background: #000000;
    color: #cf7500;
}

.icons {
    height: 25px;
    width: 25px;
}


/*################################
Header
##################################*/



/*################################
Main Section
##################################*/

/*################################
Footer
##################################*/