/*
Color Theme:

*/




/*################################
General Stylings
##################################*/

body {
    background: #edf4f2;
    font-size: 62.5%;
}

header {
    background: #79d70f;
}

footer {
    background: #d32626;
}

button {
    background: #f5a31a;
    color: white;
    border: none;
}

h2, h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.icons {
    height: 25px;
    width: 25px;
}


/*################################
Header
##################################*/



/*################################
Main Section
##################################*/

/*################################
Footer
##################################*/